---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v1/articles?apiKey=686f2c0503d74d9d8a61bc5818dfcb64&source=bbc-sport
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","source":"bbc-sport","sortBy":"top","articles":[{"author":"BBC
        Sport","title":"Sir Bradley Wiggins: Team Sky boss Sir Dave Brailsford defends
        use of TUEs","description":"Team Sky boss Sir Dave Brailsford defends Sir
        Bradley Wiggins'' use of a banned steroid, insisting it was not taken to enhance
        performances.","url":"http://www.bbc.co.uk/sport/cycling/37472728","urlToImage":"http://ichef.bbci.co.uk/onesport/cps/624/cpsprodpb/0ECC/production/_91388730_sirdavebrailsford.jpg","publishedAt":"2016-09-26T17:08:51Z"},{"author":"BBC
        Sport","title":"Burnley 2-0 Watford","description":"Burnley''s record signing
        Jeff Hendrick scores his first goal for the club to help his side beat a lacklustre
        Watford at Turf Moor.","url":"http://www.bbc.co.uk/sport/football/37404133","urlToImage":"http://ichef.bbci.co.uk/onesport/cps/624/cpsprodpb/7C2C/production/_91388713_hendrick_reuters.jpg","publishedAt":"2016-09-26T21:29:00Z"},{"author":"BBC
        Sport","title":"Ryder Cup[...]
