<%= link_to 'Make a note', new_note_path %>

<% if @notes.any? %>
  <% @notes.each do |note| %>
    <%= note.title %>
  <% end %>
<% else %>
  <div id='no_notes_message'>
    No notes added
  </div>
<% end %>