<%= link_to 'Create Article', new_article_path %>

<% if @articles.any? %>
  <% @articles.each do |article| %>
    <%= link_to "#{article.title}", article_path(article) %>
  <% end %>
<% else %>
  <div id='no_articles_message'>
    No Articles
  </div>
<% end %>