<form action='/articles' class='new_article' id='new_article' method='post'>
  <label for="article_title">Save as:</label>:
  <input id="article_title" name="article[title]" type="text" /><br />

  <label for="article_article">Article</label>:
  <textarea id="article_article" name="article[article]" type="text" /><br />

  <input name="commit" type="submit" value="Save" />
</form>
