<table id='news'>
	
	<% @news_sources.each_slice(5) do |slice| %>
		
		<tr>
			<% slice.each do |source| %>
				
				<td>
					<a href=<%=source["url"]%> >
 						<img src=<%=source['urlsToLogos']['small']%> alt="<%=source['name']%>" >
 					</a>
				</td>

			<% end %>
		</tr>

	<% end %>

</table>