<ul id='news'>
	
	<% @news_sources.each do |s| %>
		
		<li>
			<div class="news-logo">
				<img src=<%=s['urlsToLogos']['small']%> alt=<%=s['name']%> >
			</div>
				<div class="news-title">
					<%= s['name'] %>
				</div>
			</div>
		</li>

	<% end %>

</ul>