<table id='news'>
	
	<% @news_sources.each_slice(5) do |slice| %>
		
		<tr>
			<% slice.each do |s| %>

				<td class='source-info'>
					<span class='news-images' onclick="setIframe(this, '<%=s['url']%>')">
 						<img src=<%=s['urlsToLogos']['small']%> alt="<%=s['name']%>" >
 					</span>
 					<p>
 						<%= s['description'] %>
 					</p>
				</td>

			<% end %>
		</tr>

	<% end %>

</table>