<ul id='news'>
	
	<% @news_sources.each do |s| %>
		
		<li>
			<div class="news-logo">
				<img src=<%=s['urlsToLogos']['small']%> alt="<%=s['name']%>" >
			</div>
			<div class="news-title">
				<%= link_to s['name'], s["url"] %>
			</div>
		</li>

	<% end %>

</ul>