<ul id='news'>
	
	<% @news_sources.each do |s| %>
		
		<li>
			<div class="news-logo">
				<a href=<%=s["url"]%> >
 					<img src=<%=s['urlsToLogos']['small']%> alt="<%=s['name']%>" >
 				</a>
			</div>
		</li>

	<% end %>

</ul>