// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0;
	padding: 0;
}

#news {
	padding-top: 10%;
	height:100%;
	margin: 10px;
	list-style: none;
}

#news li {
	position: relative;
	display: block;
	float: left;
	width: 33%;
	text-align: center;
}

.news-logo {
	position: relative;
}

.news-title {
	font-weight: bold;
	font-size: 2em;
}