// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
}

table tr {
}

table tr td {
	text-align: center;
	border: 1px solid red;
	height: 200px;
}